.hidden {
    display: none;
}

.header {
    margin: 0 auto;
    text-align: center;
}

.app {
    margin: 0 auto;
    width: 80%;
}

#customer-id {
    width: 20em;
}

#customer-button {
        color: #f3cbcb;
}

#sales-button {
    color: #f3cbcb;
}

#back-button {
    color: #f3cbcb;
}

#customer-view {
    text-align: center;
}