.hidden {
    display: none;
}

.header {
    margin: 0 auto;
    text-align: center;
}

.app {
    margin: 0 auto;
    width: 80%;
}

.modal {
    background-color: #e2e2e5;
    color: #1a1c1e;
}

#customer-id {
    width: 20em;
}

#customer-view {
    text-align: center;
}

#checkbox-container {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}